.toogle {
  width: 50px;
  height: 25px;
  position: fixed;
  top: 150px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: rotate(20deg);
}

.button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.button:hover {
  transform: rotate(20deg);
}
